<div id="formBrgy" class="bg-black">
   <form class="row g-0 pt-2" action="/addBrgy" method="POST">
      <div class="col-9 g-0">
         <input type="text" class="form-control font-small rounded-0 mb-3" id="inputBrgy" name="inputBrgy"
            placeholder="Baranggay">
      </div>
      <div class="col-3 g-0" style="padding-left: 1rem;">
         <button class="btn btn-dark font-small w-100 rounded-0 " type="submit" style="height: 40px;">Add</button>
      </div>
   </form>

</div>


{{!-- style="padding: 100px; width:1000px; height:500px; position: absolute; z-index: 10;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center --}}

{{!-- <div class="row justify-content-center p-5">
   <form action="/login" method="POST" class="margin-auto" style="width: 400px;">
      <h1 class="text-center">Log in</h1>
      <div class="mb-3">

         <input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="Username">
      </div>
      <div class="mb-3">

         <input type="password" class="form-control" id="exampleFormControlInput1" name="password"
            placeholder="Password">
      </div>
      <div class="d-grid">
         <button class="btn btn-dark" type="submit">Log In</button>
      </div>

   </form>
</div> --}}