<div class="container center-div">
   <div class="card">
      <div class="row no-gutters">
         <div class="card-col center-div bg-black">
            <div class="card-body">
               <form class="form-signin text-center" action="/" method="POST">
                  <h1 class="h1 font-weight-bold header-letter-space">WELCOME</h1>
                  <small class="form-text text-muted mb-3">Sign in to your account</small>
                  <input name="email" type="email" id="inputEmail" class="form-control font-small mb-3 rounded-0"
                     placeholder="Email Address" required autofocus>
                  <input name="password" type="password" id="inputPassword" class="form-control font-small rounded-0"
                     placeholder="Password" required>
                  <a href=""><small class="form-text text-muted mt-0 mb-3 text-right">Forgot Password?</small></a>
                  <!-- <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div> -->
                  <button
                     class="btn btn-lg btn-primary btn-block btn-custom-reg-log font-weight-bold font-small rounded-0"
                     type="submit">SIGN IN</button>
                  <a href="signup.html"><small class="form-text text-muted">Not a member? Sign up now</small></a>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>