<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>{{ownerName}}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">

    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    {{!-- chart.js -- nandito to kasi ayaw sa baba --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    {{!-- date range picker --}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    {{!-- timepicker --}}
    <link href="/css/timepicker.css" rel="stylesheet">
    <script type="text/javascript" src="/scripts/timepicker.js"></script>

    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand ml-auto" href="#"><small>APPOINTCUT</small></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav  ms-auto">
                    <a class="nav-link" href="#">{{ownerName}}</a>
                </div>
            </div>
        </div>
    </nav>

    <main class="row g-0 m-0 p-0">
        {{{body}}}
    </main>

    <script>
        var el = document.getElementById("ownersNav");
        if (el == null) {
            true;
        } else {
            el.classList.remove('d-flex');
            el.style.display = "none";
        }


        console.log('aaaa')
        var hidePage = document.querySelectorAll(".hidePage");
        console.log(hidePage + 'aaaaa')
        for (var i = 0; i < hidePage.length; i++) {
            console.log(hidePage[i])
            hidePage[i].classList.add('p-4');
            hidePage[i].classList.add('pt-0');
        }

        var hr = document.querySelectorAll(".hideHr");
        for (var i = 0; i < hr.length; i++) {
            hr[i].style.display = "none";
        }

        var hideBreadCrumb = document.querySelectorAll(".hideBreadCrumb");
        for (var i = 0; i < hideBreadCrumb.length; i++) {
            hideBreadCrumb[i].remove();
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>


</html>