<div class="min-vh-100 p-3">
    <div id="deskReports">
        <div class="row px-3">
            <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
                <span class="me-2 fw-800"><small>CUSTOMER VOLUME REPORT</small></span>
                <input type="text" id="daterangeCustomerVolume" class="font-small">
            </div>
            <div>
                <canvas id="myChart" style="width:100%;"></canvas>
            </div>
        </div>
        <div class="row px-3">
            <div class="bg-black px-4 py-2 d-flex justify-content-between align-items-center">
                <span class="me-2 fw-800"><small>SALES REPORT</small></span>
                <input type="text" id="daterangeSales" class="font-small">
            </div>
            <div>
                <canvas id="chartSales" style="width:100%;"></canvas>
            </div>
        </div>
    </div>
</div>