<div class="row grid">
   <div class="col-lg-6 grid-item">
      {{> usertype-grid parameter=rowUserType}}
   </div>
   <div class="col-lg-6 grid-item">
      {{> category-grid parameter=rowCategory}}
   </div>
   <div class="col-lg-6 grid-item">
      {{> services-grid parameter=rowServices}}
   </div>
   <div class="col-lg-6 grid-item">
      {{> specialization-grid parameter=rowSpecialization}}
   </div>
   <div class="col-lg-6 grid-item">
      {{> haircuts-grid parameter=rowHaircuts}}
   </div>
   <div class="col-lg-6 grid-item">
      {{> faceshape-grid parameter=rowFaceshape}}
   </div>
   <div class="col-lg-6 grid-item">
      {{> city-grid parameter=rowCity}}
   </div>
   <div class="col-lg-6 grid-item">
      {{> brgy-grid parameter=rowBrgy}}
   </div>
</div>