<div class="row grid">
   {{!-- <div class="col-lg-6 grid-item">
      {{> usertype-grid parameter=rowUserType}}
   </div> --}}
   <div class="col-lg-6 grid-item">
      {{> category-grid}}
   </div>
   <div class="col-lg-6 grid-item">
      {{> services-grid}}
   </div>
   {{!-- <div class="col-lg-6 grid-item">
      {{> specialization-grid}}
   </div> --}}
   <div class="col-lg-6 grid-item">
      {{> haircuts-grid}}
   </div>
   {{!-- <div class="col-lg-6 grid-item">
      {{> faceshape-grid}}
   </div> --}}
   <div class="col-lg-6 grid-item">
      {{> city-grid}}
   </div>
   <div class="col-lg-6 grid-item">
      {{> brgy-grid}}
   </div>
</div>