<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/bg.jpg');"
   class="vw-100 vh-100 center-div">
   <div class="container center-div">
      <div class="card">
         <div class="row no-gutters">
            <div class="col-sm-6 card-col center-div">
               <div class="text-center">
                  <img src="images/logo.png" class="m-auto" id="login-logo">
                  <small class="text-muted">Barbershop Mo To</small>
               </div>
            </div>
            <div class="col-sm-6 card-col center-div bg-black">
               <div class="card-body">
                  <form class="form-signin text-center" method="POST" action="/" id="loginForm">
                     <h1 class="h1 header-letter-space fw-bold">WELCOME</h1>
                     <div class="mb-3"><small>Sign in to your account</small></div>
                     <input name="email" type="text" id="inputEmail" class="form-control font-small mb-3 rounded-0"
                        placeholder="Email Address" required autofocus>
                     <input name="password" type="password" id="inputPassword" class="form-control font-small rounded-0"
                        placeholder="Password" required>
                     {{#if error}}
                     <p id="alertHolder" class="text-danger mt-2 small">{{error}}</p>
                     {{else}}
                     <p id="alertHolder"></p>
                     {{/if}}
                     <div class="mt-0 mb-3 font-small"><a href="">Forgot Password?</a></div>
                     <div class="d-grid">
                        <button type="submit"
                           class="btn btn-lg btn-primary btn-custom-reg-log fw-bold font-small rounded-0">SIGN
                           IN</button>
                     </div>
                     <a href="/signup"><small class="font-small text-muted">Not a member? Sign up now</small></a>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

