<div class="vw-100 vh-100 center-div"
   style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/bg.jpg');">
   <div class="container center-div">
      <div class="card bg-black pt-3 pb-3" id="card-signup">
         <div class="card-header text-center pb-1">
            <h1 class="h1 font-weight-bold header-letter-space">CREATE AN ACCOUNT</h1>
         </div>
         <div class="card-body" id="card-body-signup">
            <form class="row center-div p-0" action="/signup" id="signup" method="POST">
               <div class="col-sm-6">
                  <!-- nagdefine ng height para pumantay sila sa isat isa  -->
                  <div class="form-group">
                     <div class="center-div mb-2">
                        <div style="position: relative;">
                           <div class="center-div" id="addImageDiv">
                              <input class="font-small" type="file" id="birPermit" name="birPermit"
                                 style="display: none;">
                              <label for="birPermit" class="font-small mb-0" id="displayPic"> ADD IMAGE</label>
                           </div>
                           <div class="center-div" id="cameraDiv">
                              <i class="bi bi-camera-fill"></i>
                           </div>
                        </div>
                     </div>
                     <div class="mb-2">
                        <label for="birPermit" class="mb-0"><small>BIR PERMIT:</small></label>
                        <div class="attachment-border">
                           <input class="font-small reg-file-btn container-fluid pl-0" type="file" id="birPermit"
                              name="birPermit">
                        </div>
                     </div>
                     <div class="mb-2">
                        <label for="busPermit" class="mb-0"><small>BUSINESS PERMIT:</small></label>
                        <div class="attachment-border">
                           <input class="font-small reg-file-btn container-fluid pl-0" type="file" id="busPermit"
                              name="busPermit">
                        </div>
                     </div>
                     <div class="mb-2">
                        <label for="govId" class="mb-0"><small>GOVERNMENT ID:</small></label>
                        <div class="attachment-border">
                           <input class="font-small reg-file-btn container-fluid pl-0" type="file" id="govId"
                              name="govId">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="text-center mt-2">
                  <button onclick="document.getElementById('signup').submit()"
                     class="btn btn-lg btn-primary btn-custom-reg-log font-weight-bold font-small rounded-0 pl-5 pr-5"
                     type="submit">SIGN UP</button>
                  <p class="font-smaller m-0 mt-2">By signing up you agree to the</p>
                  <a href="" class="font-smaller">Terms & Conditions</a>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>