<div class="vw-100 vh-100 center-div"
   style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/bg.jpg');">
   <div class="container center-div">
      <div class="card bg-black pt-3 pb-3" id="card-signup">
         <div class="card-header text-center pb-1">
            <h1 class="h1 font-weight-bold header-letter-space">CREATE AN ACCOUNT</h1>
         </div>
         <div class="card-body" id="card-body-signup">
            <form class="center-div p-0 d-block" action="/signup" id="signup" method="POST">
               <div>
                  <!-- nagdefine ng height para pumantay sila sa isat isa  -->
                  <div class="form-group">
                     <div class="row no-gutters">
                        <div class="col-lg-6">
                           <input type="text" class="form-control font-small mb-3 rounded-0" id="firstName"
                              name="firstName" placeholder="First Name">
                        </div>
                        <div class="col-lg-6">
                           <input type="text" class="form-control font-small mb-3 rounded-0" id="lastName"
                              name="lastName" placeholder="Last Name">
                        </div>
                     </div>
                     <input type="email" class="form-control font-small mb-3 rounded-0" id="email" name="email"
                        placeholder="Email">
                     <input type="password" class="form-control mb-3 font-small rounded-0" id="password" name="password"
                        placeholder="Password">
                     <input type="text" class="form-control font-small mb-3 rounded-0" id="contactNum" name="contactNum"
                        placeholder="Contact Number">
                  </div>
               </div>
               <div class="text-center mt-2">
                  <button onclick="document.getElementById('signup').submit()"
                     class="btn btn-lg btn-primary btn-custom-reg-log font-weight-bold font-small rounded-0 pl-5 pr-5"
                     type="submit">SIGN UP</button>
                  <p class="font-smaller m-0 mt-2">By signing up you agree to the</p>
                  <a href="" class="font-smaller">Terms & Conditions</a>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- =============
Input: Name and ID
Username: username 
First Name: firstName
Last Name: lastName
Email: email
Password: password
Contact: contactNum
City: city 
Baranggay: brgy
============== -->